@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <dv>
        <h2>@ViewBag.Message</h2>
    </dv>
    <form asp-action="Index" asp-controller="Home" method="Post">
        <label>UserName</label>
        <input type="text" name="UserName" placeholder="Enter user name" />
        <label>Password</label>
        <input type="password" name="Password" />
        <input type="submit" value="Login" />
    </form>
</div>
