 
@{
    ViewData["Title"] = "Schedule";
}

<form asp-action="Schedule" asp-controller="Home" method="Post" onsubmit=" return SearchSchedule()">
    <label>Start Date</label>
    <input type="date" name="startDate" id="dates" />
    <input type="submit" value="Search Schedule" />
</form>
<div id="list">

</div>

