
<div align="center">
    <p>You have entered incorrect data</p>
    <input type="button" class="btn-danger" value="Click here" onclick="@("window.location.href='" + @Url.Action("InputDemand", "MedicineSupply") + "'");" />
</div>