


<div align="center">
    <p>Your session is expired</p>
    <input type="button" class="btn-danger" value="Login here" onclick="@("window.location.href='" + @Url.Action("Login", "Dashboard") + "'");" />
</div>